// Définition d'une variable pour la couleur de fond
$background-color: #1d78d3;

// Appliquer l'arrière-plan à tout le corps de la page
body {
    background-color: $background-color;
    font-family: Arial, sans-serif;
    color: #f3efef;
}
// Variable pour la largeur et la hauteur de l'image
$image-width: 500px;
$image-height: 300px;

// Conteneur pour centrer l'image
.container {
    display: flex;           // Utilisation de Flexbox
    justify-content: left; // Centrer horizontalement
    align-items: letf;     // Centrer verticalement
    height: 100vh;           // Le conteneur prend toute la hauteur de la fenêtre
}

// Style pour l'image
img {
    width: $image-width;
    height: $image-height;
    object-fit: cover;       // Ajuste l'image pour qu'elle remplisse bien son cadre
}
