---
import Layout from "../layouts/WebLayout.astro";
import Text from "../components/text.astro"
---

<Layout>
	<h3>Donkey Kong country returns</h3>
	<h3>Donkey Kong country tropical freeze</h3>
<Text src=""  text=""></Text>
<iframe width="560" height="315" src="https://www.youtube.com/embed/RTWe08JNgCM?si=S36TZT_nLM-5Pe8N" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-yKsQzTLWSY?si=WNerKIuLSELJabrk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</Layout>
