---
import Layout from "../layouts/WebLayout.astro";
import Text from "../components/text.astro"
---

<Layout>
	<h2>Section</h2>
<Text src="https://littlexgarden.com/static/images/webp/8af85db9-4a98-4fcd-b84c-197c7122e74b.jpg.webp"  text="Résumé de Naruto."></Text>
</Layout>
