---
const {text, image} = Astro.props;
---

<div><img src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_DonkeyKongCountryTropicalFreeze_image1600w.jpg"  alt="Speedrun DK" width="450" height="250" />
<div><img src="https://images.launchbox-app.com/a3c631cc-059c-4ff8-aab0-acc09e8984c2.png"  alt="Speedrun DK" width="450" height="250" />
    <p>{}</p></div>
