---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<html lang="en">
    <head>
        <title>titre</title>
    </head>
    <body>
        <Header></Header>
        <slot/>
        <Footer></Footer>
    </body>
</html>